.carousel {
    width: 80%;
    height: 650px;
    background-color: #fff;
    margin-left: 150px;
}

.carouselInner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.carouselInner .left {
    flex: 5%;
    height: 100%;
    background-color: rgba(89, 86, 86, 0.6);
    display: grid;
    place-items: center;
    color: white;
}

.carouselInner .center {
    flex: 90%;
    height: 100%;
}

.carouselInner .right {
    flex: 5%;
    height: 100%;
    background-color: rgba(89, 86, 86, 0.6);
    display: grid;
    place-items: center;
    color: white;
}


